PORT=5000
NODE_ENV=development

# Chuỗi kết nối đúng định dạng của Prisma ORM trỏ vào Docker
DATABASE_URL="postgresql://postgres:admin_password@localhost:5432/smart_logistics_db?schema=public"

# Cấu hình Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_password

# JWT & Map API Key
JWT_SECRET=smart_logistics_secret_key_2026
MAP_API_KEY=your_google_maps_key_here
